[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Mychisq"]
	path = Mychisq
	url = https://github.com/cran/Mychisq
[submodule "datastat"]
	path = datastat
	url = https://github.com/cran/datastat
[submodule "dtgiw"]
	path = dtgiw
	url = https://github.com/cran/dtgiw
[submodule "genfrn"]
	path = genfrn
	url = https://github.com/cran/genfrn
[submodule "tpwb"]
	path = tpwb
	url = https://github.com/cran/tpwb
[submodule "twopexp"]
	path = twopexp
	url = https://github.com/cran/twopexp
